In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/data/complications.csv')

# Multiple Filters

Where the **Compared to National** is not `Number of Cases Too Small` and the Denominator is not `Not Available`, except we want all the mortality related measures regardless of those first two rules.

In [3]:
too_small = data['compared_to_national'] == 'Number of Cases Too Small'
not_avail = data['denominator'] == 'Not Available'
mortality = data['measure_id'].str.contains("^MORT")

In [4]:
data.shape

(1000, 18)

In [5]:
data[too_small].shape

(114, 18)

In [6]:
data[not_avail].shape

(309, 18)

In [7]:
data[mortality].shape

(318, 18)

In [8]:
subset = data[mortality | (~too_small & ~not_avail)]

In [9]:
subset.shape

(785, 18)

In [10]:
subset.head()

,provider_id,hospital_name,address,city,state,zip_code,county_name,phone_number,measure_id,measure_name,compared_to_national,denominator,score,lower_estimate,higher_estimate,footnote,measure_start_date,measure_end_date
0,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,COMP_HIP_KNEE,Rate of complications for hip/knee replacement...,No Different Than the National Rate,292,3.2,2.1,4.8,NaN,2015-04-01T00:00:00.000,2018-03-31T00:00:00.000
1,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_AMI,Death rate for heart attack patients,No Different Than the National Rate,688,13,11.0,15.5,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
2,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_CABG,Death rate for CABG surgery patients,No Different Than the National Rate,291,4.3,2.6,6.8,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
3,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_COPD,Death rate for COPD patients,No Different Than the National Rate,411,8.8,6.7,11.4,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
4,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_HF,Death rate for heart failure patients,No Different Than the National Rate,869,12.7,10.7,15.0,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000

In [11]:
subset[mortality & too_small].head()

/opt/tljh/user/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,provider_id,hospital_name,address,city,state,zip_code,county_name,phone_number,measure_id,measure_name,compared_to_national,denominator,score,lower_estimate,higher_estimate,footnote,measure_start_date,measure_end_date
58,10007,MIZELL MEMORIAL HOSPITAL,702 N MAIN ST,OPP,AL,36467,COVINGTON,(334) 493-3541,MORT_30_AMI,Death rate for heart attack patients,Number of Cases Too Small,Not Available,Not Available,Not Available,Not Available,1.0,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
77,10008,CRENSHAW COMMUNITY HOSPITAL,101 HOSPITAL CIRCLE,LUVERNE,AL,36049,CRENSHAW,(334) 335-3374,MORT_30_AMI,Death rate for heart attack patients,Number of Cases Too Small,Not Available,Not Available,Not Available,Not Available,1.0,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
82,10008,CRENSHAW COMMUNITY HOSPITAL,101 HOSPITAL CIRCLE,LUVERNE,AL,36049,CRENSHAW,(334) 335-3374,MORT_30_STK,Death rate for stroke patients,Number of Cases Too Small,Not Available,Not Available,Not Available,Not Available,1.0,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
191,10021,DALE MEDICAL CENTER,126 HOSPITAL AVE,OZARK,AL,36360,DALE,(334) 774-2601,MORT_30_AMI,Death rate for heart attack patients,Number of Cases Too Small,Not Available,Not Available,Not Available,Not Available,1.0,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
196,10021,DALE MEDICAL CENTER,126 HOSPITAL AVE,OZARK,AL,36360,DALE,(334) 774-2601,MORT_30_STK,Death rate for stroke patients,Number of Cases Too Small,Not Available,Not Available,Not Available,Not Available,1.0,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000

In [12]:
subset[mortality & too_small].shape

/opt/tljh/user/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

(54, 18)

# DataFrame.query()

In [ ]:
data.head()

In [13]:

data.query('city == "DADEVILLE" and state == "AL"').head()

,provider_id,hospital_name,address,city,state,zip_code,county_name,phone_number,measure_id,measure_name,compared_to_national,denominator,score,lower_estimate,higher_estimate,footnote,measure_start_date,measure_end_date
513,10052,LAKE MARTIN COMMUNITY HOSPITAL,201 MARIARDEN ROAD,DADEVILLE,AL,36853,TALLAPOOSA,(256) 825-7821,COMP_HIP_KNEE,Rate of complications for hip/knee replacement...,Not Available,Not Available,Not Available,Not Available,Not Available,5.0,2015-04-01T00:00:00.000,2018-03-31T00:00:00.000
514,10052,LAKE MARTIN COMMUNITY HOSPITAL,201 MARIARDEN ROAD,DADEVILLE,AL,36853,TALLAPOOSA,(256) 825-7821,MORT_30_AMI,Death rate for heart attack patients,Number of Cases Too Small,Not Available,Not Available,Not Available,Not Available,1.0,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
515,10052,LAKE MARTIN COMMUNITY HOSPITAL,201 MARIARDEN ROAD,DADEVILLE,AL,36853,TALLAPOOSA,(256) 825-7821,MORT_30_CABG,Death rate for CABG surgery patients,Not Available,Not Available,Not Available,Not Available,Not Available,5.0,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
516,10052,LAKE MARTIN COMMUNITY HOSPITAL,201 MARIARDEN ROAD,DADEVILLE,AL,36853,TALLAPOOSA,(256) 825-7821,MORT_30_COPD,Death rate for COPD patients,No Different Than the National Rate,65,8.1,5.5,11.7,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
517,10052,LAKE MARTIN COMMUNITY HOSPITAL,201 MARIARDEN ROAD,DADEVILLE,AL,36853,TALLAPOOSA,(256) 825-7821,MORT_30_HF,Death rate for heart failure patients,Number of Cases Too Small,Not Available,Not Available,Not Available,Not Available,1.0,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000

# Generic Complex Filtering

Apply some generic function to an entire row to figure out if should be filtered.

In [14]:
with_score = data[(data['score'] != 'Not Available') & (data['denominator'] != 'Not Available')]

In [15]:
with_score.shape

(691, 18)

In [16]:
mask = with_score.apply(lambda x: (float(x['score']) / float(x['denominator'])) > 0.01, axis=1)

In [17]:
with_score[mask]

,provider_id,hospital_name,address,city,state,zip_code,county_name,phone_number,measure_id,measure_name,compared_to_national,denominator,score,lower_estimate,higher_estimate,footnote,measure_start_date,measure_end_date
0,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,COMP_HIP_KNEE,Rate of complications for hip/knee replacement...,No Different Than the National Rate,292,3.2,2.1,4.8,NaN,2015-04-01T00:00:00.000,2018-03-31T00:00:00.000
1,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_AMI,Death rate for heart attack patients,No Different Than the National Rate,688,13,11.0,15.5,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
2,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_CABG,Death rate for CABG surgery patients,No Different Than the National Rate,291,4.3,2.6,6.8,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
3,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_COPD,Death rate for COPD patients,No Different Than the National Rate,411,8.8,6.7,11.4,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
4,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_HF,Death rate for heart failure patients,No Different Than the National Rate,869,12.7,10.7,15.0,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
975,10101,CITIZENS BAPTIST MEDICAL CENTER,604 STONE AVENUE,TALLADEGA,AL,35161,TALLADEGA,(256) 761-4542,MORT_30_STK,Death rate for stroke patients,No Different Than the National Rate,33,14.3,10.5,19.4,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
978,10101,CITIZENS BAPTIST MEDICAL CENTER,604 STONE AVENUE,TALLADEGA,AL,35161,TALLADEGA,(256) 761-4542,PSI_12_POSTOP_PULMEMB_DVT,Serious blood clots after surgery,No Different Than the National Rate,91,3.66,0.70,6.61,NaN,2016-07-01T00:00:00.000,2018-06-30T00:00:00.000
980,10101,CITIZENS BAPTIST MEDICAL CENTER,604 STONE AVENUE,TALLADEGA,AL,35161,TALLADEGA,(256) 761-4542,PSI_14_POSTOP_DEHIS,A wound that splits open after surgery on the ...,No Different Than the National Rate,39,0.94,0,2,NaN,2016-07-01T00:00:00.000,2018-06-30T00:00:00.000
987,10101,CITIZENS BAPTIST MEDICAL CENTER,604 STONE AVENUE,TALLADEGA,AL,35161,TALLADEGA,(256) 761-4542,PSI_9_POST_HEM,Perioperative Hemorrhage or Hematoma Rate,No Different Than the National Rate,85,2.50,1,3.99,NaN,2016-07-01T00:00:00.000,2018-06-30T00:00:00.000
993,10102,J PAUL JONES HOSPITAL,317 MCWILLIAMS AVENUE,CAMDEN,AL,36726,WILCOX,(334) 682-4131,MORT_30_PN,Death rate for pneumonia patients,No Different Than the National Rate,29,18.2,12.9,24.9,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000

In [19]:
with_score.shape

(691, 18)

In [20]:
with_score[mask].shape

(345, 18)

In [21]:
with_score[mask].head()

,provider_id,hospital_name,address,city,state,zip_code,county_name,phone_number,measure_id,measure_name,compared_to_national,denominator,score,lower_estimate,higher_estimate,footnote,measure_start_date,measure_end_date
0,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,COMP_HIP_KNEE,Rate of complications for hip/knee replacement...,No Different Than the National Rate,292,3.2,2.1,4.8,NaN,2015-04-01T00:00:00.000,2018-03-31T00:00:00.000
1,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_AMI,Death rate for heart attack patients,No Different Than the National Rate,688,13,11.0,15.5,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
2,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_CABG,Death rate for CABG surgery patients,No Different Than the National Rate,291,4.3,2.6,6.8,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
3,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_COPD,Death rate for COPD patients,No Different Than the National Rate,411,8.8,6.7,11.4,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
4,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_HF,Death rate for heart failure patients,No Different Than the National Rate,869,12.7,10.7,15.0,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000