In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/data/complications.csv')

In [3]:
data['city'].value_counts()

BIRMINGHAM        76
DOTHAN            38
ANNISTON          38
GADSDEN           38
MOBILE            38
MONTGOMERY        38
WETUMPKA          19
WINFIELD          19
OPP               19
ENTERPRISE        19
TALLADEGA         19
JASPER            19
HUNTSVILLE        19
EUFAULA           19
ANDALUSIA         19
BREWTON           19
CENTREVILLE       19
SHEFFIELD         19
EUTAW             19
FLORENCE          19
BOAZ              19
CENTRE            19
MOULTON           19
ALEXANDER CITY    19
ASHLAND           19
HAMILTON          19
LUVERNE           19
GENEVA            19
SCOTTSBORO        19
GROVE HILL        19
TUSCALOOSA        19
TALLASSEE         19
DADEVILLE         19
FAIRHOPE          19
FAYETTE           19
ALABASTER         19
GREENSBORO        19
FORT PAYNE        19
CULLMAN           19
ATHENS            19
OZARK             19
OPELIKA           19
DECATUR           19
FOLEY             19
CAMDEN            12
Name: city, dtype: int64

In [4]:
data.head()

,provider_id,hospital_name,address,city,state,zip_code,county_name,phone_number,measure_id,measure_name,compared_to_national,denominator,score,lower_estimate,higher_estimate,footnote,measure_start_date,measure_end_date
0,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,COMP_HIP_KNEE,Rate of complications for hip/knee replacement...,No Different Than the National Rate,292,3.2,2.1,4.8,NaN,2015-04-01T00:00:00.000,2018-03-31T00:00:00.000
1,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_AMI,Death rate for heart attack patients,No Different Than the National Rate,688,13,11.0,15.5,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
2,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_CABG,Death rate for CABG surgery patients,No Different Than the National Rate,291,4.3,2.6,6.8,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
3,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_COPD,Death rate for COPD patients,No Different Than the National Rate,411,8.8,6.7,11.4,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
4,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_HF,Death rate for heart failure patients,No Different Than the National Rate,869,12.7,10.7,15.0,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000

In [5]:
filter = data['city'] == 'DADEVILLE'

In [6]:
filter.value_counts()

False    981
True      19
Name: city, dtype: int64

In [7]:
dadeville_only = data[filter]

In [8]:
dadeville_only.head()

,provider_id,hospital_name,address,city,state,zip_code,county_name,phone_number,measure_id,measure_name,compared_to_national,denominator,score,lower_estimate,higher_estimate,footnote,measure_start_date,measure_end_date
513,10052,LAKE MARTIN COMMUNITY HOSPITAL,201 MARIARDEN ROAD,DADEVILLE,AL,36853,TALLAPOOSA,(256) 825-7821,COMP_HIP_KNEE,Rate of complications for hip/knee replacement...,Not Available,Not Available,Not Available,Not Available,Not Available,5.0,2015-04-01T00:00:00.000,2018-03-31T00:00:00.000
514,10052,LAKE MARTIN COMMUNITY HOSPITAL,201 MARIARDEN ROAD,DADEVILLE,AL,36853,TALLAPOOSA,(256) 825-7821,MORT_30_AMI,Death rate for heart attack patients,Number of Cases Too Small,Not Available,Not Available,Not Available,Not Available,1.0,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
515,10052,LAKE MARTIN COMMUNITY HOSPITAL,201 MARIARDEN ROAD,DADEVILLE,AL,36853,TALLAPOOSA,(256) 825-7821,MORT_30_CABG,Death rate for CABG surgery patients,Not Available,Not Available,Not Available,Not Available,Not Available,5.0,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
516,10052,LAKE MARTIN COMMUNITY HOSPITAL,201 MARIARDEN ROAD,DADEVILLE,AL,36853,TALLAPOOSA,(256) 825-7821,MORT_30_COPD,Death rate for COPD patients,No Different Than the National Rate,65,8.1,5.5,11.7,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
517,10052,LAKE MARTIN COMMUNITY HOSPITAL,201 MARIARDEN ROAD,DADEVILLE,AL,36853,TALLAPOOSA,(256) 825-7821,MORT_30_HF,Death rate for heart failure patients,Number of Cases Too Small,Not Available,Not Available,Not Available,Not Available,1.0,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000

In [9]:
dadeville_only['city'].unique()

array(['DADEVILLE'], dtype=object)

In [10]:
dadeville_only.shape

(19, 18)

In [11]:
no_dade = data[~filter]

In [12]:
no_dade['city'].unique()

array(['DOTHAN', 'BOAZ', 'FLORENCE', 'OPP', 'LUVERNE', 'BIRMINGHAM',
       'FORT PAYNE', 'ALABASTER', 'SHEFFIELD', 'OZARK', 'CENTRE',
       'MONTGOMERY', 'OPELIKA', 'TALLASSEE', 'CULLMAN', 'ANDALUSIA',
       'ANNISTON', 'HUNTSVILLE', 'GADSDEN', 'HAMILTON', 'FAYETTE',
       'ENTERPRISE', 'EUTAW', 'CENTREVILLE', 'MOULTON', 'SCOTTSBORO',
       'GENEVA', 'ALEXANDER CITY', 'EUFAULA', 'ASHLAND', 'ATHENS',
       'FOLEY', 'DECATUR', 'WINFIELD', 'MOBILE', 'JASPER', 'GROVE HILL',
       'TUSCALOOSA', 'GREENSBORO', 'WETUMPKA', 'BREWTON', 'FAIRHOPE',
       'TALLADEGA', 'CAMDEN'], dtype=object)

In [13]:
no_dade.shape

(981, 18)

# RegEx Filtering

In [14]:
med_center_filter = data['hospital_name'].str.contains('CENTER$')
med_centers = data[med_center_filter]

In [15]:
med_centers.shape

(456, 18)

In [16]:
med_centers.head()

,provider_id,hospital_name,address,city,state,zip_code,county_name,phone_number,measure_id,measure_name,compared_to_national,denominator,score,lower_estimate,higher_estimate,footnote,measure_start_date,measure_end_date
0,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,COMP_HIP_KNEE,Rate of complications for hip/knee replacement...,No Different Than the National Rate,292,3.2,2.1,4.8,NaN,2015-04-01T00:00:00.000,2018-03-31T00:00:00.000
1,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_AMI,Death rate for heart attack patients,No Different Than the National Rate,688,13,11.0,15.5,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
2,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_CABG,Death rate for CABG surgery patients,No Different Than the National Rate,291,4.3,2.6,6.8,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
3,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_COPD,Death rate for COPD patients,No Different Than the National Rate,411,8.8,6.7,11.4,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
4,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_HF,Death rate for heart failure patients,No Different Than the National Rate,869,12.7,10.7,15.0,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000

In [17]:
hospital_filter = data['hospital_name'].str.contains('HOSPITAL')
hospitals = data[hospital_filter]

In [18]:
hospitals.shape

(411, 18)

In [19]:
hospitals.head()

,provider_id,hospital_name,address,city,state,zip_code,county_name,phone_number,measure_id,measure_name,compared_to_national,denominator,score,lower_estimate,higher_estimate,footnote,measure_start_date,measure_end_date
57,10007,MIZELL MEMORIAL HOSPITAL,702 N MAIN ST,OPP,AL,36467,COVINGTON,(334) 493-3541,COMP_HIP_KNEE,Rate of complications for hip/knee replacement...,No Different Than the National Rate,31,2.8,1.6,4.8,NaN,2015-04-01T00:00:00.000,2018-03-31T00:00:00.000
58,10007,MIZELL MEMORIAL HOSPITAL,702 N MAIN ST,OPP,AL,36467,COVINGTON,(334) 493-3541,MORT_30_AMI,Death rate for heart attack patients,Number of Cases Too Small,Not Available,Not Available,Not Available,Not Available,1.0,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
59,10007,MIZELL MEMORIAL HOSPITAL,702 N MAIN ST,OPP,AL,36467,COVINGTON,(334) 493-3541,MORT_30_CABG,Death rate for CABG surgery patients,Not Available,Not Available,Not Available,Not Available,Not Available,5.0,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
60,10007,MIZELL MEMORIAL HOSPITAL,702 N MAIN ST,OPP,AL,36467,COVINGTON,(334) 493-3541,MORT_30_COPD,Death rate for COPD patients,No Different Than the National Rate,113,9,6.3,12.9,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
61,10007,MIZELL MEMORIAL HOSPITAL,702 N MAIN ST,OPP,AL,36467,COVINGTON,(334) 493-3541,MORT_30_HF,Death rate for heart failure patients,No Different Than the National Rate,85,15.6,11.1,21.7,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000

In [20]:
unknown = data[~hospital_filter & ~med_center_filter]

In [23]:
unknown['hospital_name'].unique()

array(['MARSHALL MEDICAL CENTERS SOUTH CAMPUS', "ST VINCENT'S EAST",
       'BAPTIST MEDICAL CENTER SOUTH', 'ANDALUSIA HEALTH',
       'MEDICAL CENTER ENTERPRISE', "ST VINCENT'S BIRMINGHAM",
       'MEDICAL CENTER BARBOUR'], dtype=object)